@font-face {
  font-family: normal;
  src: url(../fonts/caps.ttf); }

@font-face {
  font-family: bold;
  src: url(../fonts/normal-bold.ttf); }

body {
  font-size: 15px;
  color: #585858;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'Open Sans', sans-serif;
  font-family: bold;
  line-height: 25px; }

* {
  text-decoration: none;
  list-style-type: none; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #254441;
  color: #dee0e0;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }

#myBtn:hover {
  background-color: #555; }

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in; }

.fade-in.appear {
  opacity: 1; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  /*60%{
        transform: rotate(120deg) rotate(-50deg);
    }*/
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.row-1 {
  background-color: #212121; }
  .row-1 .row-all {
    height: 40px;
    max-width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; }
    .row-1 .row-all__row-log a {
      font-size: 13px;
      color: white;
      margin-top: 7px;
      margin-right: 20px;
      transition: .4s;
      font-family: normal; }
    .row-1 .row-all__row-log a:hover {
      color: #e0e0e0;
      transition: .4s; }
    .row-1 .row-all__row-mix {
      display: flex;
      align-items: center; }
    .row-1 .row-all__row-mix a {
      font-size: 13px;
      color: white;
      transition: .4s;
      font-family: normal; }
    .row-1 .row-all__row-mix a:hover {
      color: #e0e0e0;
      transition: .4s; }

.icon-social {
  margin-left: 15px; }

.icon {
  margin-right: 7px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  transition: .4s;
  color: white; }

.icon:last-child {
  margin-right: 0px; }

.icon:hover {
  transition: .4s;
  background-color: gray;
  color: #ffffff; }

.row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 86%;
  margin: auto; }
  .row-2__logo img {
    height: 100px; }
  .row-2__search-box {
    width: 40%;
    position: relative;
    display: flex; }
  .row-2__row-2-1 {
    display: flex; }

/*search box*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px; }

.search {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  border: 2px solid #2c5854;
  border-right: none;
  padding: 18px;
  height: 10px;
  outline: none;
  color: #2c5854; }

.search-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100px;
  border: 2px solid #2c5854;
  background-color: #2c5854;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px; }

.search:focus {
  color: black;
  box-shadow: 0 0 5px #2c5854; }

.contact {
  color: #ffffff;
  padding: 15px 40px;
  background-color: #2c5854;
  border: 1px solid #2c5854;
  border-radius: 5px;
  margin-right: 10px; }

.phone {
  margin-right: 8px;
  font-size: 17px; }

.cart {
  display: flex;
  align-items: center; }

.cart-icon {
  font-size: 35px;
  margin-right: 5px; }

.cart div {
  display: flex;
  flex-direction: column; }

.cart-number {
  position: absolute;
  left: 35px;
  top: 1px;
  color: #2c5854;
  font-size: 17px; }

/*---------------
	menu
----------------*/
.toggle,
[id^=drop] {
  display: none; }

/* Giving a background-color to the nav container. */
.navbar {
  background-color: #254441;
  width: 100%;
  display: block; }

nav {
  max-width: 86%;
  margin: auto;
  padding: 0;
  background-color: #254441;
  top: -2px;
  z-index: 1111111111111111; }

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
nav:after {
  content: "";
  display: table;
  clear: both; }

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: block;
  float: left;
  background-color: #254441; }

/* Styling the links */
nav a {
  display: block;
  padding: 15px 20px;
  color: #FFF;
  font-size: 13px;
  text-decoration: none;
  transition: .8s;
  font-family: normal; }

nav ul li ul li:hover {
  background: #000000;
  transition: .4s; }

/* Background color change on Hover */
nav a:hover {
  transition: .4s;
  background-color: #000000; }

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 45px; }

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit; }

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 270px;
  float: none;
  display: list-item;
  position: relative;
  z-index: 1; }

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 270px; }

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: ' +'; }

li > a:only-child:after {
  content: ''; }

.hero {
  max-width: 86%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3rem;
  border-bottom: 3px solid #dee0e0; }
  .hero__main-pic {
    height: 500px;
    width: 450px;
    cursor: pointer;
    transition: .4s;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .hero__main-pic:hover {
    transform: scale(1.03); }
  .hero__product p:first-child {
    font-size: 13px;
    font-family: bold;
    color: #646464; }
  .hero__product h1 {
    font-family: bold;
    font-size: 65px;
    color: #5e5e5e; }
  .hero__product-description {
    margin-top: 15px;
    font-size: 14px;
    font-family: bold;
    line-height: 24px;
    color: red; }

.nura {
  color: #9c1734; }

.links {
  margin-top: 60px;
  font-family: normal;
  font-size: 14px; }

.links a {
  padding: 10px 20px;
  border: 1px solid #254441;
  background-color: white;
  color: #101d2c;
  transition: .4s;
  margin-right: 10px; }

.links a:hover {
  background-color: #254441;
  border: 1px solid #254441;
  color: white;
  transition: .4s; }

.links p {
  cursor: pointer;
  display: inline;
  padding: 10px 20px;
  border: 1px solid #254441;
  background-color: #254441;
  color: white;
  transition: .4s; }

.links p:hover {
  padding: 10px 20px;
  background-color: white;
  color: #254441;
  border: 1px solid #254441;
  transition: .4s; }

.section {
  margin-top: 4rem;
  padding: 0; }
  .section__category-name {
    max-width: 1410px;
    margin: auto;
    padding-bottom: 3rem;
    font-size: 25px;
    font-family: normal; }
  .section__category-name div {
    height: 2px;
    background-color: #dee0e0; }
  .section__category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto; }
  .section__category li {
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0 10px 0 #dee0e0;
    transition: transform .4s;
    margin-bottom: 2rem; }
  .section__category li:hover {
    transform: scale(1.03); }
  .section__category a p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: normal;
    color: #254441; }
  .section__category a li img {
    border-radius: 10px;
    height: 270px;
    width: 250px;
    padding: 25px 35px 0 35px; }

.sale {
  margin-top: 5rem;
  background: linear-gradient(rgba(20, 37, 56, 0.767), rgba(0, 0, 0, 0.74)), url("../img/back.jpg") center;
  width: 100%;
  background-size: cover;
  height: 60vh;
  position: relative;
  color: #fff;
  background-attachment: fixed; }
  .sale__future {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative; }
  .sale__future div div {
    display: flex; }
  .sale__future div div p {
    font-size: 20px; }
  .sale__future div div p span {
    color: orange; }
  .sale__future div div p:first-child {
    text-decoration: line-through; }
  .sale__future div h3 {
    font-size: 30px;
    text-align: center; }
  .sale__future div h3 span {
    color: orange; }
  .sale__future div h4 {
    font-size: 20px; }
  .sale__future div p {
    max-width: 520px;
    margin-right: 50px; }
  .sale__future img {
    height: 340px;
    width: 300px; }
  .sale__future img:last-child {
    margin-top: -280px;
    margin-left: -80px;
    height: 80px;
    width: 70px; }

.links-sale {
  margin-top: 30px; }

li > a:after {
  content: ' '; }

li > a:only-child:after {
  content: ''; }

.section-product {
  margin-top: 4rem; }

.all-product {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .all-product__details {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #dee0e0;
    transition: transform .4s;
    margin-bottom: 3rem; }
  .all-product__details:hover {
    transform: scale(1.03); }
  .all-product__details img {
    display: flex;
    align-items: center;
    margin: auto;
    height: 210px;
    width: auto;
    transition: .5s ease;
    backface-visibility: hidden; }
  .all-product .image-1 {
    display: none; }
  .all-product__details:hover .image {
    opacity: 0.8; }
  .all-product__details:hover .middle {
    opacity: 1; }
  .all-product .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .all-product .text {
    color: black;
    font-size: 26px;
    margin-top: 3rem; }
  .all-product .pro-heart {
    display: none; }
  .all-product__details h5 {
    font-size: 13px;
    margin-top: 40px; }
  .all-product hr {
    margin-top: -20px; }
  .all-product__details h6 {
    font-size: 23px;
    margin-top: 0px; }
  .all-product p {
    margin-top: -10px;
    font-size: 17px; }
  .all-product p span {
    color: orange; }
  .all-product__details div a {
    font-family: normal;
    padding: 5px 5px;
    color: #2c5854;
    transition: .4s; }
  .all-product__details div a:hover {
    color: orange;
    transition: .4s; }
  .all-product__details div p {
    cursor: pointer;
    display: inline;
    font-family: normal;
    padding: 1px 1px;
    color: #2c5854;
    transition: .4s; }
  .all-product__details div p:hover {
    color: orange;
    transition: .4s; }
  .all-product br {
    display: none; }

.more-and-more {
  max-width: 90%;
  margin: auto;
  padding: 7px 30px;
  border: 1px solid #254441;
  border-radius: 3px;
  color: #254441;
  background-color: #fff;
  font-family: normal;
  transition: .4s; }

.more-and-more:hover {
  border: 1px solid #254441;
  color: #fff;
  background-color: #254441;
  transition: .4s; }

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px; }

.container-products ion-icon {
  font-size: 25px;
  color: #254441;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer; }

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto; }

.product-title {
  width: 45%; }

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center; }

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center; }

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center; }

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray; }

.product ion-icon {
  cursor: pointer;
  color: #254441; }

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.products img {
  width: 75px; }

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0; }

.basketTotalTitle {
  width: 30%; }

.basketTotal {
  width: 13%; }

.cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 2px; }

.cart a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #254441; }

.cart a span {
  padding-left: 5px; }

.buy {
  cursor: pointer;
  display: inline;
  padding: 7px 20px;
  border: 1px solid #254441;
  border-radius: 1px;
  font-family: normal; }

@media (max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .sm-hide {
    display: none; }
  .products,
  .product-header {
    justify-content: center; }
  .basketTotalContainer {
    padding-right: 8%; } }

.section-headphone {
  margin-top: 4rem; }

.headphone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dee0e0; }
  .headphone__apple {
    background: linear-gradient(rgba(20, 37, 56, 0.767), rgba(0, 0, 0, 0.74)), url("../img/AirPods.png") center no-repeat;
    height: 60vh;
    width: 110vh;
    background-size: cover;
    background-position: center; }
  .headphone__apple div {
    margin-left: 3rem;
    height: 60vh; }
  .headphone__apple div h2 {
    margin-bottom: 30vh;
    color: #dee0e0; }
  .headphone__apple div p span {
    color: orange; }
  .headphone__apple div a:last-child {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid orange;
    color: #dee0e0;
    font-family: normal;
    transition: .4s; }
  .headphone__apple div a:last-child:hover {
    color: orange;
    transition: .4s; }
  .headphone__cabel {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(20, 37, 56, 0.767), rgba(0, 0, 0, 0.74)), url("../img/AirPods 250.png") no-repeat center;
    height: 60vh;
    width: 110vh;
    background-size: cover; }
  .headphone__cabel div {
    margin-left: 3rem;
    height: 60vh; }
  .headphone__cabel div h2 {
    margin-bottom: 30vh;
    color: #dee0e0; }
  .headphone__cabel div p span {
    color: orange; }
  .headphone__cabel div a:last-child {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid orange;
    color: #dee0e0;
    font-family: normal;
    transition: .4s; }
  .headphone__cabel div a:last-child:hover {
    color: orange;
    transition: .4s; }
  .headphone__head {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(20, 37, 56, 0.767), rgba(0, 0, 0, 0.74)), url("../img/AirPods Pro.png") center;
    height: 60vh;
    width: 110vh;
    background-size: cover; }
  .headphone__head div {
    margin-left: 3rem;
    height: 60vh; }
  .headphone__head div h2 {
    margin-bottom: 30vh;
    color: #dee0e0; }
  .headphone__head div p span {
    color: orange; }
  .headphone__head div a:last-child {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid orange;
    color: #dee0e0;
    font-family: normal;
    transition: .4s; }
  .headphone__head div a:last-child:hover {
    color: orange;
    transition: .4s; }

footer {
  margin-top: 4rem;
  color: #dee0e0;
  background-color: #212121;
  margin-bottom: 0;
  padding: 4rem 0; }

.footer {
  max-width: 1340px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .footer__mini-menu {
    font-family: normal; }
  .footer__mini-menu div:first-child {
    display: flex;
    align-items: center; }
  .footer__mini-menu div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; }
  .footer__mini-menu div a {
    color: #dee0e0;
    padding: 0 15px;
    font-size: 15px; }
  .footer__mini-menu div a:last-child {
    padding: 0 0px; }
  .footer__line {
    width: 2px;
    background-color: #dee0e0;
    height: auto; }
  .footer__about p {
    width: 600px;
    font-size: 13px; }
  .footer__about h1 {
    font-family: normal; }

.description {
  max-width: 940px;
  margin: auto;
  margin-top: 1rem; }

.mini-navigation {
  margin-bottom: 4rem; }

.mini-navigation a {
  font-family: normal;
  color: #254441; }

.mini-navigation i {
  color: orange; }

.more {
  display: flex;
  align-items: center;
  justify-content: space-around; }

/* Slideshow container */
.slideshow-container {
  max-width: 350px;
  margin-right: 40px;
  position: relative; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
/* Number text (1/3 etc) */
.numbertext {
  color: #254441;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0px;
  width: 50px;
  margin: 0 10px;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171;
  height: 1px; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

.fade img {
  height: 350px;
  width: 280px; }

.product-description h5 {
  font-size: 13px; }

.des-line {
  margin-top: -20px;
  height: 2px;
  background-color: #dee0e0; }

.product-description h1 {
  margin-top: 10px;
  margin-bottom: 50px; }

.price-1 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }

.price-1 p:first-child {
  font-size: 15px; }

.price-1 span {
  color: orange; }

.price-1 p:last-child {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 13px; }

.number {
  display: flex;
  justify-content: center;
  align-items: center; }
  .number a {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: 20px;
    background-color: #254441;
    color: #fff;
    font-family: normal;
    transition: .4s;
    border: 1px solid #254441; }
  .number a:hover {
    background-color: #fff;
    color: #254441;
    border: 1px solid #254441;
    transition: .4s; }

#customers {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%; }

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px; }

#customers tr:nth-child(even) {
  background-color: #f2f2f2; }

#customers tr:hover {
  background-color: #ddd; }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #254441;
  color: #dee0e0; }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

.all-category {
  max-width: 86%;
  margin: auto;
  display: flex;
  justify-content: space-around; }
  .all-category .left-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .all-category .left-side-bar .left-side-product .left-side-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: auto;
      margin: auto;
      margin-top: 1rem; }

.price-left {
  font-size: 14px; }

.buttons-left-side a {
  padding: 5px 10px;
  background-color: #fff;
  color: #254441;
  border: 1px solid #254441;
  font-family: normal;
  font-size: 13px; }

/* Fixed sidenav, full height */
.sidenav {
  width: 100%;
  z-index: 1;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding: 50px 40px;
  font-family: normal;
  margin-top: 4rem; }
  .sidenav button {
    font-family: normal;
    font-size: 15px; }

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #254441;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-size: 15px; }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #2c5854; }

/* Main content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px; }

/* Add an active class to the active dropdown button */
.active {
  color: #254441; }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #dee0e0;
  padding-left: 8px;
  margin-top: 30px; }

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px; }

.flex {
  margin-top: 0rem; }

.all-product-head {
  font-size: 25px;
  font-family: normal; }

.flex-col {
  display: flex;
  justify-content: space-between; }

.flex-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid whitesmoke;
  padding: 10px 70px;
  justify-content: space-between; }
  .flex-col-1__columne {
    flex-direction: row; }
  .flex-col-1 img {
    margin-top: 10px;
    height: 210px;
    width: 195px; }
  .flex-col-1__colomne h5 {
    text-align: right;
    margin-top: -10px; }
  .flex-col-1__colomne .price {
    margin-top: 20px;
    font-size: 15px; }
  .flex-col-1__colomne .buttons a {
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid #254441;
    color: #254441;
    background-color: #fff;
    font-family: normal;
    margin-right: 10px; }
  .flex-col-1__colomne .buttons a:last-child {
    margin-right: 0px; }

.flex-col-1:last-child {
  margin-right: 0; }

.flex-col-1:hover {
  border: 1px solid #dee0e0;
  box-shadow: 0px 0 15px 0 #dee0e0; }

/*--------------------------------*/
.all-produvt-page {
  display: flex;
  margin: 0 20px; }

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

@media all and (max-width: 1440px) {
  .fade-in {
    opacity: 1; }
  .section {
    margin-top: 4rem;
    padding: 0; }
    .section__category-name {
      max-width: 90%;
      margin: auto;
      padding-bottom: 3rem;
      font-size: 25px;
      font-family: normal; }
    .section__category-name div {
      height: 2px;
      background-color: #dee0e0; }
    .section__category {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 90%;
      margin: auto; }
    .section__category a li img {
      border-radius: 10px;
      height: 370px;
      width: 350px;
      padding: 25px 35px 0 35px; }
  .all-product {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .all-product__details img {
      display: flex;
      align-items: center;
      margin: auto;
      height: 410px;
      width: 380px;
      transition: .5s ease;
      backface-visibility: hidden; }
  .all-category {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-around; }
  .footer__about p {
    width: 400px; }
  .flex-col-1 {
    padding: 10px 30px; } }

@media all and (max-width: 958px) {
  .row-2 {
    flex-direction: column; }
    .row-2__logo img {
      margin-bottom: 10px; }
    .row-2__search-box {
      width: 90%;
      margin-bottom: 10px; }
    .row-2__row-2-1 {
      margin-bottom: 10px; }
  .search {
    height: 5px; }
  nav {
    max-width: 100%;
    margin: 0; }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none; }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #254441;
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    border: none; }
  .right {
    text-align: right; }
  .toggle:hover {
    background-color: #000000; }
  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block; }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%; }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px; }
  nav ul ul ul a {
    padding: 0 80px; }
  nav a:hover,
  nav ul ul ul a {
    background-color: #000000; }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px; }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121; }
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */ }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none; }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%; }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */ }
  .hero {
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem; }
    .hero__main-pic {
      width: 250px;
      height: auto;
      margin: 15px 0; }
    .hero__product {
      width: 94%; }
    .hero__product h1 {
      margin-top: 10px;
      font-family: bold;
      font-size: 35px;
      color: #254441; }
  br {
    display: none; }
  .product-description {
    line-height: 28px;
    margin: auto;
    text-align: justify;
    color: #254441; }
  .links {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px; }
  .links a:first-child {
    margin-right: 0;
    margin-bottom: 10px; }
  /*------------------------------
			category
	--------------------------------*/
  .section {
    margin-top: 4rem;
    padding: 0; }
    .section__category-name {
      max-width: 90%;
      margin: auto;
      padding-bottom: 3rem;
      font-size: 25px;
      text-align: center;
      font-family: normal; }
    .section__category-name div {
      height: 2px;
      background-color: #dee0e0; }
    .section__category {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 98%;
      margin: auto; }
    .section__category li {
      margin-bottom: 2rem;
      box-shadow: 1px 0 10px 0 black; }
    .section__category li:hover {
      transform: none; }
  .sale {
    height: 130vh; }
    .sale__future {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 90vh; }
    .sale__future img {
      margin-top: 20px;
      height: 340px;
      width: 300px; }
    .sale__future img:last-child {
      margin-top: -300px;
      margin-left: 200px;
      height: 80px;
      width: 70px; }
  .all-product {
    max-width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; }
    .all-product__details {
      padding: 40px 30px 50px 30px;
      border: 1px solid #dee0e0;
      transition: transform .4s;
      margin-bottom: 3rem; }
    .all-product__details:hover {
      transform: scale(1); }
    .all-product__details img {
      height: 210px;
      width: 180px; }
    .all-product br {
      display: inline; }
    .all-product .text {
      display: none; }
    .all-product__details div {
      text-align: center; }
    .all-product__details div a {
      width: 200px;
      display: block;
      margin-bottom: -30px;
      background-color: #fff;
      border: 1px solid #2c5854;
      flex-direction: column; }
    .all-product .pro-heart {
      display: inline-block;
      right: 0;
      font-size: 20px;
      margin-left: 90px; }
  .footer {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer__mini-menu div:first-child {
      display: flex;
      align-items: center;
      flex-direction: column; }
    .footer__mini-menu div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 20px; }
    .footer__mini-menu div a {
      font-family: normal;
      color: #dee0e0;
      padding: 11px 0; }
    .footer__mini-menu div a:last-child {
      padding: 0 0px; }
    .footer__about p {
      width: 310px; } }

@media all and (max-width: 550px) {
  .fade-in {
    opacity: 1; }
  .row-all {
    height: 50px;
    max-width: 96%; }
  .row-log a:first-child {
    margin-right: 15px; }
  .row-log a:last-child {
    margin-right: 0px; }
  .row-mix a {
    margin-right: 0;
    padding: 5px; }
  .icon-social {
    display: none; }
  nav ul li {
    display: block;
    width: 94%; }
  .links-sale a:last-child {
    margin-right: 0px; }
  .section__category-name {
    font-size: 18px;
    font-family: normal; }
  .section__category a li img {
    height: 200px;
    width: 180px;
    padding: 25px 55px 0 55px; }
  .sale__future {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .sale__future img {
    margin-top: 20px;
    height: 310px;
    width: 300px; }
  .links-sale {
    padding-top: 30px;
    text-align: center; }
  .headphone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee0e0;
    flex-direction: column; }
    .headphone__apple {
      margin-top: -3px;
      height: 65vh;
      width: 100%; }
    .headphone__cabel {
      margin-top: -3px;
      height: 65vh;
      width: 100%; }
    .headphone__head {
      margin-top: -3px;
      height: 65vh;
      width: 100%; } }

@media all and (max-width: 350px) {
  .sale {
    height: 160vh; }
    .sale__future {
      height: 120vh; } }
