@font-face {
	font-family: normal;
	src:url(../fonts/caps.ttf);
}
body{
	margin: 0;
	padding: 0;
	background-color:black;
}
.all{
	margin-top: 150px;
	display: inline-block;
	border: 2px solid #51fc08;
	margin-left: 39%;
	padding: 108px 135px 108px 120px;
	border-radius: 50%;
	transition: 3000ms;

}

.hi{
	font-size: 60px;
	color: white;
	position: absolute;
	text-decoration: none;

	
}
.hi:hover{
	color:#51fc08;
	transition: 1000ms;
}
.me{
	color: white;
	text-decoration: none;
	padding-left: 20px;
	}
.me:hover{
	color:#51fc08;
	transition: 1000ms;
}
/*--------------meore gverdi----------------*/
.img2{
	transition: 200ms color ease;
	width: 100%;
	height: 733px;
}
.img3{
	display: none;
}

.happy{
	position: absolute;
}
.name{
	color:white;
	text-align: center;
	font-size: 40px;
	font-family: normal;
}
.principal{
	position: absolute;
	margin-left: 32%;
}

.line{
	font-size: 55px;
	font-family: normal;
}
.erti{
 	transition: 6000ms color ease;
 	color:white;
}
.ori{
 	transition: 8000ms color ease;
 	color:white;
}
.sami{
 	transition: 10000ms color ease;
 	color:white;
 	margin-bottom: 200px;
}
.text{
	position: absolute;
	margin-top: 250px;
	color: white;
	width: 390px;
	text-align: center;
	margin-left:5%;
	font-size: 25px;
	transition: 10000ms ease;
}

.tarigi{
	position: absolute;
	color: #51fc08;
	margin-left: 1%;
}

@media (max-width: 415px){
	.all{
		margin-top: 100px;
		margin-left: 55px;		
		padding: 90px 110px 90px 110px;
	}
	.hi{
	   font-size: 50px;
	}
	.me{
		padding-left: 10px;
		color: white;
		text-decoration: none;
	
   }


/*--------------meore gverdi----------------*/
.img2{
	display: none;
}
.img3{
	display: inline;
	width: 100%;
	height: 850px;
}
	.line{
	padding-top: 15px;
	font-size: 35px;
}
	.principal{
	position: absolute;
	margin-left: 8%;
}

.text{
	margin-top: 300px;
	margin-left: 10%;
	transition: 15000ms color ease;
	width:350px;
}
}