
/*---------------
	menu
----------------*/
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
.navbar{
	background-color: #254441;
	width: 100%;
	display: block;

}
nav {
	max-width: 86%;
	margin:auto;
	padding: 0;
	background-color: #254441;

	top: -2px;
	z-index: 1111111111111111;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {

	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;	
	display: block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	
	display:block;
	padding:15px 20px;	
	color:#FFF;
	font-size: 13px;
	text-decoration:none;
	transition: .8s;
	font-family: normal;

}


nav ul li ul li:hover { background: #000000; transition: .4s;}

/* Background color change on Hover */
nav a:hover { 
	transition: .4s;
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 45px; 

}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
	
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 270px;
	float:none;
	display:list-item;
	position: relative;
	z-index: 1;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:270px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }