li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }
.section-product{
  margin-top: 4rem;
}

.all-product{
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

      
      &__details{
        position: relative;
          padding: 10px 20px;
          border: 1px solid $color-primery-light;
          transition: transform .4s;
          margin-bottom: 3rem;
      }
      &__details:hover{
        transform: scale(1.01);
      }

      &__details img{
        display: flex;
        align-items: center;
          margin: auto;
          height: 210px;
          width: auto;

          transition: .5s ease;
          backface-visibility: hidden;
      }     
      .image-1{
        display: none;
      }
      
      &__details:hover .image {
        opacity: 0.8;
      }
      
      &__details:hover .middle {
        opacity: 1;
      }
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      .text {        
        color: black;
        font-size: 26px;
        margin-top: 3rem;
      }
      .pro-heart{
        display: none;
      }
      &__details h5{
        font-size: 13px;
        margin-top: 40px;
      }
      hr{
        margin-top: -20px;
      }
      &__details h6{
        font-size: 23px;
        margin-top: 0px;
      }

      p{
        margin-top: -10px;
        font-size: 17px;
      }
      
      p span{
        color: $color-secendery;
      }

      &__details div a{
        font-size: 14px;
        font-family: normal;
        padding: 5px 5px;
        color: $color-primery;
        transition: .4s;
        border: 1px solid $color-primery;
      }
      &__details div a:hover{
        color: $color-secendery;
        transition: .4s;
      }

      &__details div p{
        font-size: 14px;
        cursor: pointer;
        display: inline;
        font-family: normal;
        padding: 5px 5px;
        color: $color-primery;
        transition: .4s;
        border: 1px solid $color-primery;
      }
      &__details div p:hover{
        color: $color-secendery;
        transition: .4s;
      }
      
      br{
        display: none;
      }
}

.more-and-more{
  max-width: 90%;
  margin: auto;
  padding: 7px 30px;
  border: 1px solid $color-primery-dark;
  border-radius: 3px;
  color: $color-primery-dark;
  background-color: $color-white;
  font-family: normal;
  transition: .4s;
}
.more-and-more:hover{  
  border: 1px solid $color-primery-dark;
  color: $color-white;
  background-color: $color-primery-dark;
  transition: .4s;
}










.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  color: $color-primery-dark;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon {
  cursor: pointer;
  color:$color-primery-dark;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 13%;
}
.cart{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $color-white;
  padding: 2px 10px;
  border-radius: 2px;
}
.cart a{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-primery-dark;
}
.cart a span{
  padding-left: 5px;
}
.buy{
  cursor: pointer;
  display: inline;
  padding: 7px 20px;
  border: 1px solid $color-primery-dark;
  border-radius: 1px;
  font-family: normal;
}

@media(max-width: 500px) {
  nav h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;;
  }

  .sm-hide {
      display: none;
  }

  .products,
  .product-header {
      justify-content: center;
  }

  .basketTotalContainer {
      padding-right: 8%;
  }
}
